# Node.js and npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Logs
logs
*.log

# Environment variables
.env

# IDE settings
.idea/
.vscode/

# Compiled files
dist/

# Dependency lock files
yarn.lock
package-lock.json

